:root {

    /* animation */
    --animation-duration: 300ms;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:lightgray;
}

.logo {
    cursor: pointer;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    transition: transform var(--animation-duration) ease;
}

.itemImage {
    height: 250px;
    width: 230px;
}

.item {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    border: none;
    list-style: none;
    height: 60%;
    width: 40%;
    overflow-y: scroll;
}


.button {
    font-size: 20px;
    cursor: pointer;
    border: transparent;
    transition: transform var(--animation-duration) ease;
}

.itemDescription {
    margin-left: 5px;
    font-size: 15px;
}

.button:hover,
.logo:hover {
    transform: scale(1.1);
}